@import '~variables';
@import '~node_modules/react-reflex/styles.css';

.panel {
	display: flex;

	.panel-element {
		>div {
			display: flex;
			flex: 1;
			flex-direction: column;
		}

		.panel-toolbar {
			display: flex;
			height: 2.75rem;
			align-items: center;
			border-bottom: 1px solid $lighter-gray;
			background-color: var(--themeColorLightest);
			padding: 0 0.5em;
			text-align: right;

			.panel-toolbar_filters {
				display: flex;
				flex: 1;
				justify-content: flex-start;

				input {
					outline: none;
					padding: 0.5em;
				}
			}

			.panel-toolbar_actions {
				display: flex;
				flex: 1;
				justify-content: flex-end;
			}
		}

		.panel-body {
			flex: 1;
			overflow-y: auto;
		}
	}

	.panel-list {
		.panel-list-item {
			display: flex;
			padding: 0.5em;
			padding-left: 1em;
			border-bottom: 1px solid $lighter-gray;
			cursor: pointer;

			&:hover {
				background-color: $lighter-gray;
			}

			.panel-list-item-checkbox {
				display: flex;
				padding-right: 1em;
				flex-grow: 0 !important;
				align-items: center;
				justify-content: center;
			}

			&.list-item-selected {
				transition: background-color 0.125s;
				background-color: var(--themeColorMedium);
				color: $white;
			}
		}
	}
}
