@import '~variables';
@import '~react-progress-2/main.css';

/* disable mask */
.loader-60devs::before {
	background: rgba(0, 0, 0, 0.15);
}

#app[data-viewport="mini"] #container,
#app[data-viewport="tiny"] #container {
	@extend %resize-page;
}

#container {
	display: flex;
	flex-direction: column;
	height: inherit;

	.main {
		display: flex;
		flex: 1;

		.page {
			display: flex;
			flex-direction: column;
			flex: 1;
			transition: width 0.5s ease;

			.page-header {
				z-index: 9;
				padding: 0.5em 1em;
				background-color: $white;
				box-shadow: 1px 1px 2px 1px rgba(34, 36, 38, 0.15);

				.page-icon {
					margin-right: 0.125em;
					vertical-align: text-bottom;
				}

				.page-title {
					font-weight: bold;
					font-size: 150%;
				}

				.page-subtitle {
					font-size: 80%;
					display: block;
					min-height: 1.25em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.page-content {
				flex: 1;
				padding: 20px;
			}
		}
	}
}

