@import '~variables';

.button {
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	border: none;
	white-space: nowrap;
	color: #fff;
	background-color: var(--themeColor);
	font-size: 0.75em;
	border-radius: 2px;
	outline: none;
	padding: 4px 6px;

	i {
		font-size: inherit;
	}

	&:not(.icon-only) {
		padding: 4px 10px 4px 5px;
		min-width: 65px;

		i {
			margin-right: 5px;
		}
	}

	&:disabled {
		pointer-events: none;
		cursor: not-allowed;
		filter: alpha(opacity=50);
		opacity: 0.5;
		will-change: opacity;
	}

	&:hover {
		background-color: var(--themeColorMedium);
	}

	&:not(:first-child) {
		margin-left: 5px !important;
	}
}

