@import '~variables';

.sidebar.collapsed {
	.menu {
		.menu-link .menu-label {
			opacity: 0 !important;
		}
	}
}

.sidebar:not(.collapsed) {
	.menu-parent li {
		padding-left: 1.5em;
	}
}

.menu,
.submenu {
	list-style: none;
}

.menu {
	.menu-item {
		cursor: pointer;
	}

	.menu-link {
		display: flex;
		align-items: center;
		color: var(--themeColorLighter);

		&:hover {
			color: $white;
		}

		.menu-icon {
			margin-right: 0.75em;
		}

		.menu-expander i {
			transition-duration: 100ms;
			font-size: 18px;
		}
	}

	/* Special underline animation */
	>.menu-item {
		&::after {
			background: #fff;
			bottom: 0;
			content: '';
			display: block;
			height: 1px;
			left: 50%;
			transition: all 0.35s;
			width: 0;
		}

		&:hover::after {
			width: 100%;
			left: 0;
		}
	}

	&.expand-on-hover {
		.menu-parent:hover .menu-expander i {
			transform: rotateZ(180deg);
		}

		&.vertical .menu-parent:hover .submenu {
			display: block;
			max-height: 200px;
		}

		&.horizontal .menu-parent:hover .submenu {
			opacity: 1;
			transition: opacity 0.2s ease;
		}
	}

	&.vertical {
		margin-top: 1em;

		.menu-item {
			border-left: 3px solid transparent;

			&.active {
				border-left-color: $theme-secondary-color;
			}

			&:not(.expanded):hover {
				background: var(--themeColorDark);
			}

			.menu-link {
				padding: 0.5em 0.25em 0.5em 1em;

				.menu-label {
					line-height: 1;
					opacity: 1;
					transition: opacity 0.25s;
				}

				.menu-expander {
					margin-left: -18px;
					width: 18px;
				}
			}

			&.menu-parent {
				>.menu-link {
					border-left: 2px solid transparent;
				}

				.submenu {
					overflow: hidden;
					max-height: 0;
					transition: all 0.5s ease-out;

					li {
						&:not(.active) {
							background-color: transparent;

							&:hover {
								background: var(--themeColorDark);
							}
						}

						/* Left side bullets for children items */

						/*
						&::before {
							background: var(--themeColorLightest);
							bottom: auto;
							content: "";
							height: 7px;
							left: 24px;
							margin-top: 15px;
							position: absolute;
							right: auto;
							width: 7px;
							z-index: 1;
							border-radius: 50%;
						}

						&::after {
							border-left: 1px solid rgba(var(--themeColorLighter), 0.5);
							bottom: 0;
							content: '';
							left: 27px;
							position: absolute;
							top: 0;
						}
						*/
					}
				}

				&.expanded .submenu {
					display: block;
					max-height: 500px;
				}
			}
		}
	}

	&.horizontal {
		display: flex;
		align-items: center;
		height: 100%;

		>.menu-item {
			height: 100%;
			padding: 0 1.25rem 0 0.5rem;

			.menu-icon i {
				width: 18px;
			}

			&:hover {
				background: var(--themeColor);
			}
		}

		.menu-link {
			height: 100%;
		}

		.menu-parent {
			.menu-item {
				margin-left: -8px;
			}

			.submenu {
				min-width: inherit;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				z-index: 99;
				box-shadow: -4px -4px 0 8px rgba(0, 0, 0, 0.05);

				.menu-item {
					&.placeholder {
						height: 10px;
						background: transparent;
					}

					&:not(.placeholder) {
						background: var(--themeColor);
						border-left: 3px solid transparent;

						&.active {
							border-left: 3px solid $theme-secondary-color;
						}
					}

					&:last-child {
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;
					}
				}

				.menu-link {
					padding: 0.5em 2.75em 0.5em 1.75em;
					border-radius: inherit;

					&:hover {
						background-color: var(--themeColorDark);
						color: $white;
					}

					.menu-label {
						width: max-content;
					}
				}

				&::before {
					margin-top: 10px;
					content: ' ';
				}
			}

			/* &:hover, */
			&.expanded .submenu {
				opacity: 1;
				visibility: visible;
				transition: opacity 0.25s ease;
			}
		}
	}

	.menu-parent {
		/* &:hover, */
		&.expanded .menu-expander i {
			transform: rotateZ(180deg);
		}

		.submenu {
			.menu-link {
				font-size: 90%;

				.menu-icon i {
					font-size: 20px;
				}
			}
		}
	}
}
