@import '~variables';

.form-group {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1.25em;
	border: 1px solid #f5f5f5;

	&.inline {
		.form-field {
			flex-direction: row;

			.form-field_label { flex: 0.3; }
			.form-field_item { flex: 1; }
		}
	}

	&:not(.inline) {
		.form-field {
			.form-field_label {
				margin-bottom: 0.5em;
			}
		}
	}

	.form-actions {
		text-align: right;
	}

	.form-error {
		@extend %error;

		margin: 1em 0;
	}

	.form-field {
		flex: 1;
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5em;
		padding: 0.15em 0;

		.form-field_required {
			color: red;
			cursor: help;
			vertical-align: super;
			font-size: 12px;
			margin: 0px 0.5em 0.5em;
		}

		.form-field_label {
			font-size: 1em;
			display: flex;
			align-items: baseline;

			input {
				margin-left: 1em;
			}
		}

		.form-field_item {
			input[type="text"],
			input[type="number"],
			input[type="password"],
			textarea,
			select {
				font-size: 0.8em;
				padding: 0.5em;
				width: 100%;
				outline: none;
				border: 1px solid $gray;
			}

			textarea {
				min-height: 6em;
				border: 1px solid $gray;
			}
		}

		.form-field_error {
			@extend %error;

			list-style: none;
		}
	}

	// height: 1.25em;
	// background-color: var(--themeColor);
	// color: var(--themeLighestColor);
}
