@import '~variables';

.user-card {
	display: flex;
	height: 4rem;
	padding: 0.5em;
	width: 100%;

	.user-card-pic {
		width: 40px;
		text-align: center;

		img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
		}
	}

	.user-card-details {
		flex: 1;
		white-space: nowrap;
	}
}
