@import '~variables';

@mixin Pulse($duration) {
	-webkit-animation-duration: $duration;
	animation-duration: $duration;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

#sliding-panel {
	width: $sliding-bar-width;
	height: 100%;
	position: fixed;
	overflow: hidden;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-property: all;
	z-index: 9;

	&:not(.expanded) {
		opacity: 0.5;
	}

	&.expanded {
		opacity: 1;
	}

	#sliding-panel-content {
		height: 100%;
		float: left;
		width: calc(100% - #{$sliding-trigger-width});
		background: var(--themeColorLightest);
		padding: 0.75em;
	}

	&.right {
		right: -1 * ($sliding-bar-width - $sliding-trigger-width);
		transition-property: right opacity;

		&.expanded {
			right: 0;
		}
	}

	&:not(.right) {
		left: -1 * ($sliding-bar-width - $sliding-trigger-width);
		transition-property: left;

		.sliding-panel-trigger {
			float: right;
		}

		&.expanded {
			left: 0;
		}
	}

	.sliding-panel-trigger {
		width: $sliding-trigger-width;
		float: left;
		text-align: center;
		background: var(--themeColorLightest);
		padding: 5px 0;
		border-bottom-left-radius: 3px;

		.sliding-panel-trigger-checkbox {
			display: none;

			+.sliding-panel-trigger-pinner {
				cursor: pointer;
				padding: 0.5em;
			}

			&:not(:checked)+.sliding-panel-trigger-pinner {
				i {
					width: 0.5em;
					transform: rotate(90deg);
				}
			}
		}

		i {
			font-size: 10px;
			height: auto;
			width: auto;
			margin: 0;
		}
	}

	/*
	&:not(:hover) {
		&:not(.right) {
			.sliding-panel-trigger {
				i {
					width: 0.5em;
					transform: rotate(90deg);
				}
			}
		}

		&.right {
			.sliding-panel-trigger {
				i {
					width: 1.5em;
					transform: rotate(45deg);
				}
			}
		}
	}

	&:hover {
		.sliding-panel-trigger {
			@include Pulse(200ms);
		}

		&:not(.right) {
			left: 0;
		}

		&.right {
			right: 0;
		}

		#sliding-panel-content {
			.links {
				opacity: 1;
			}
		}
	} */

	a {
		color: #000;
		font-size: 1.3em;
		line-height: 1.25em;
		text-decoration: none;
		font-weight: bold;
	}

	.vertical {
		opacity: 0.5;
		font-weight: bold;

		&:hover {
			opacity: 1;
		}
	}
}
