@import '~variables';

.logo {
	display: flex;
	align-items: center;
	flex: 1;
	color: $white;
	cursor: pointer;

	.logo-icon {
		width: $sidebar-width-collapsed;
		text-align: center;
	}

	.logo-title {
		font-size: 20px;
		white-space: nowrap;
		opacity: 1;
		transition: opacity 0.25s;
	}
}

.collapsed {
	.sidebar .logo .logo-title {
		opacity: 0;
	}
}
