@import '~variables';

.info-panel {
	display: flex;
	flex-direction: column;
	padding: 1em;

	.info-panel-body {
		padding: 20px;
		border: 1px solid $lighter-gray;
	}
}

.info-panel-header {
	flex: 1;
	border-bottom: 1px solid $lighter-gray;
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	box-sizing: content-box;

	.info-panel-header__title {
		font-size: 1.5em;
		margin-right: 1em;
		font-weight: 600;
	}

	.info-panel-header__actions {
		float: right;

		button {
			&:not(:last-child) {
				margin-right: 1em;
			}
		}
	}

	.multi-buttons {
		float: right;

		button {
			float: initial;
		}
	}
}

.info-panel-body {
	flex: 1;

	&.info-panel-body-aling-right {
		.info-panel-body__row-cell__value {
			float: right;
		}
	}

	.info-panel-body__row {
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5em;

		.info-panel-body__row-cell {
			flex: 1;
			border-bottom: 1px solid $lighter-gray;
			padding-bottom: 0.5em;

			&:not(:first-child) {
				padding-top: 0.75em;
			}

			.info-panel-body__row-cell__label {
				margin-right: 1em;
				font-weight: 600;
				white-space: nowrap;
				text-transform: uppercase;
			}

			.info-panel-body__row-cell__value {
				padding-right: 0.25em;
			}
		}
	}
}
