@import '~variables';

#header {
	height: $topbar-height;
	background: var(--themeColorDark);
	display: flex;
	align-items: center;
	color: $white;
	z-index: 999;

	.header-left,
	.header-central,
	.header-right {
		height: 100%;
		display: flex;
		align-items: inherit;
	}

	.header-left {
		width: $sidebar-width-expanded;
	}

	.header-central {
		flex: 1 1 auto;
	}

	#menu-profile .submenu {
		right: 12px;
	}

	.header-right {
		padding: 0 1em;

		img.image {
			margin-right: 1em;
		}
	}
}
