@import '~variables';

@mixin Pulse($duration) {
	-webkit-animation-duration: $duration;
	animation-duration: $duration;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

.tgl-item {
	display: flex;
	margin: 0.5em;

	.tgl-label {
		display: inline-flex;
		margin-left: 1em;
		line-height: 1.5em;
		font-weight: 400;
	}

	.tgl-button {
		display: inline-flex;
	}
}

.tgl {
	display: none;

	&,
	&::after,
	&::before,
	&*,
	&*::after,
	&*::before,
	&+.tgl-btn {
		box-sizing: border-box;

		&::selection {
			background: none;
		}
	}

	+.tgl-btn {
		outline: 0;
		display: inline-flex;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
		user-select: none;

		&::after,
		&::before {
			position: relative;
			display: block;
			content: '';
			width: 50%;
			height: 100%;
		}

		&::after {
			left: 0;
		}

		&::before {
			display: none;
		}
	}

	&:checked+.tgl-btn::after {
		left: 50%;
	}

	&.flat {
		+.tgl-btn {
			padding: 2px;
			transition: all 0.2s ease;
			background: #fff;
			border: 4px solid #f2f2f2;
			border-radius: 2em;

			&::after {
				transition: all 0.2s ease;
				background: #f2f2f2;
				content: '';
				border-radius: 1em;
			}
		}

		&:checked+.tgl-btn {
			border: 4px solid var(--themeColor);

			&::after {
				left: 50%;
				background: var(--themeColor);
			}
		}
	}
}
