@import '~variables';

.listview-group {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	border: 1px solid #f5f5f5;

	&.inline {
		.listview-field {
			flex-direction: row;

			.listview-field_label { flex: 0.3; }
			.listview-field_item { flex: 1; }
		}
	}

	&:not(.inline) {
		.listview-field {
			.listview-field_label { margin-bottom: 0.5em; }
		}
	}

	.listview-field {
		flex: 1;
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5em;
		padding: 0.15em 0;

		.listview-field_required {
			color: red;
			cursor: help;
			vertical-align: super;
			font-size: 12px;
			margin: 0px 0.5em 0.5em;
		}

		.listview-field_label {
			font-size: 1em;
		}

		.listview-field_item {
			input[type="text"],
			select {
				font-size: 0.8em;
				padding: 0.5em;
				width: 100%;
				outline: none;
			}
		}

		.listview-field_error {
			color: red;
			font-size: 12px;
			list-style: none;
			margin-top: 0.25em;
		}
	}
	// height: 1.25em;
	// background-color: var(--themeColor);
	// color: var(--themeLighestColor);
}
