@import '~variables';

.page-account {
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	flex-direction: column;
	overflow: auto;

	.form-group {
		width: 30rem;

		.form-actions {
			text-align: right;
		}
	}
}
