@import '~variables';

.sidebar {
	display: flex;
	flex-direction: column;
	order: -1;
	width: $sidebar-width-expanded;
	transition: width 0.5s ease;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
	background: var(--themeColor);
	color: $white;

	.sidebar-extra {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&.collapsed {
		width: $sidebar-width-collapsed;

		.sidebar-header {
			display: flex;
		}

		.sidebar-footer {
			.toggle-fullscreen,
			.open-settings {
				display: none;
			}

			.toggle-collapse i {
				transform: rotate(-180deg) translateZ(0);
			}
		}
	}

	>.sidebar-header {
		height: $topbar-height;
		background-color: var(--themeColorDark);
		display: flex;
	}

	>.sidebar-options {
		@extend %scrollable;

		flex: 1 1 auto;
	}

	>.sidebar-footer {
		background: var(--themeColorDark);
		display: flex;
		height: 2.5em;
		align-items: center;

		>span {
			flex: 1;
			cursor: pointer;
			padding: 5px 0;
			text-align: center;
			font-size: 16px;
			color: var(--themeColorLightest);

			&:hover {
				color: $white;
			}

			&.toggle-collapse i {
				height: auto;
				transform: rotate(0) translateZ(0);
				transition-property: transform;
				transition-duration: 250ms;
			}
		}
	}
}
