@import '~variables';

#page-userprofile {
	.user-settings {
		position: relative;
		width: 300px;
		margin: 0 auto;
		padding: 20px;
		border-top: 30px solid #5c5d5e;
		border-radius: 10px;
		background-color: #e8ebed;
		box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);

		&::before {
			content: '';
			position: absolute;
			top: -20px;
			left: 15px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #adadae;
			box-shadow:
			20px 0 0 #adadae,
			40px 0 0 #adadae;
		}

		h1 {
			margin: 0;
			padding-bottom: 20px;
			border-bottom: 1px solid #adadae;
			color: #5c5d5e;
			font-size: 1.1em;
		}

		.tree {
			padding: 20px 0;

			&::after {
				content: '';
				display: block;
				clear: left;
			}

			div {
				clear: left;
			}
		}

		input[type="checkbox"] {
			position: absolute;
			left: -9999px;
		}

		label,
		a {
			display: block;
			float: left;
			clear: left;
			position: relative;
			margin-left: 25px;
			padding: 5px;
			border-radius: 5px;
			color: #5c5d5e;
			text-decoration: none;
			cursor: pointer;
		}

		label::before,
		a::before {
			display: block;
			position: absolute;
			top: 6px;
			left: -25px;
			font-family: 'FontAwesome';
		}

		label::before {
			content: '\f07b'; /* closed folder */
		}

		input:checked+label::before {
			content: '\f07c'; /* open folder */
		}

		a::before {
			content: '\f068'; /* dash */
		}

		input:focus+label,
		a:focus {
			outline: none;
			background-color: #b9c3c9;
		}

		.sub {
			display: none;
			float: left;
			margin-left: 30px;
		}

		input:checked~.sub {
			display: block;
		}

		input[type="reset"] {
			display: block;
			width: 100%;
			padding: 10px;
			border: none;
			border-radius: 10px;
			color: #e8ebed;
			background-color: #6b7c87;
			font-family: inherit;
			font-size: 0.9em;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 4px #b9c3c9;
			}
		}
	}

	.user-todo {
		margin: 20px;
		color: #435757;
		background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
		font: 500 1.2em/1.2 'Roboto', sans-serif;

		.container {
			max-width: 450px;
			margin: 0 auto;
			border-top: 5px solid #435757;
			background-color: rgba(255, 255, 255, 0.2);
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			user-select: none;

			h1 {
				margin: 0;
				padding: 20px;
				background-color: rgba(255, 255, 255, 0.4);
				font-size: 1.8em;
				text-align: center;
			}

			.items {
				display: flex;
				flex-direction: column;
				padding: 20px;
				counter-reset: done-items undone-items;
			}

			h2 {
				position: relative;
				margin: 0;
				padding: 10px 0;
				font-size: 1.2em;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 10px;
					bottom: 10px;
					left: -20px;
					width: 5px;
					background-color: #435757;
				}

				&::after {
					display: block;
					float: right;
					font-weight: normal;
				}
			}

			.done {
				order: 1;
			}

			.done::after {
				content: ' (' counter(done-items) ')';
			}

			.undone {
				order: 3;
			}

			.undone::after {
				content: ' (' counter(undone-items) ')';
			}

			/* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */
			input {
				display: block;
				height: 53px;
				margin: 0 0 -53px -9999px;
				order: 4;
				outline: none;
				counter-increment: undone-items;
			}

			input:checked {
				order: 2;
				counter-increment: done-items;
			}

			label {
				display: block;
				position: relative;
				padding: 15px 0 15px 45px;
				border-top: 1px dashed #fff;
				order: 4;
				cursor: pointer;
				animation: undone 0.5s;

				&::before {
					content: '\f10c'; /* circle outline */
					display: block;
					position: absolute;
					top: 11px;
					left: 10px;
					font: 1.5em 'FontAwesome';
				}
			}

			label:hover,
			input:focus+label {
				background-color: rgba(255, 255, 255, 0.2);
			}

			input:checked+label {
				order: 2;
				animation: done 0.5s;
			}

			input:checked+label::before {
				content: '\f058'; /* circle checkmark */
			}

			@keyframes done {
				0% {
					opacity: 0;
					background-color: rgba(255, 255, 255, 0.4);
					transform: translateY(20px);
				}

				50% {
					opacity: 1;
					background-color: rgba(255, 255, 255, 0.4);
				}
			}

			@keyframes undone {
				0% {
					opacity: 0;
					background-color: rgba(255, 255, 255, 0.4);
					transform: translateY(-20px);
				}

				50% {
					opacity: 1;
					background-color: rgba(255, 255, 255, 0.4);
				}
			}
		}
	}
}
