<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<script>
			window.requestAnimationFrame = function(callback) {
				setTimeout(callback, 0);
			};
		</script>
		<!-- Loader animation examples: http://tobiasahlin.com/spinkit/ -->
		<style text="text/css">
			#loader-container {
				background-color: var(--themeColor);
				color: #fff;
				height: 100vh;
				display: flex;
				align-items: center;
				z-index: 99999;
				opacity: 1;
				transition: opacity 0.5s ease-in-out 0s;
			}

			.loader {
				flex: 1;
				text-align: center;
			}

			.loader::after {
				content: 'Loading';
				display: inherit;
			}

			.loader > div {
				width: 18px;
				height: 18px;
				border-radius: 100%;
				display: inline-block;
				background-color: #fff;
				animation: sk-bouncedelay 1.4s infinite ease-in-out both;
			}

			.loader .bounce1 {
				animation-delay: -0.32s;
			}

			.loader .bounce2 {
				animation-delay: -0.16s;
			}

			@keyframes sk-bouncedelay {
				0%,
				80%,
				100% {
					transform: scale(0);
				}

				40% {
					transform: scale(1.0);
				}
			}
		</style>
	</head>
	<body>
		<!-- Loader animation markup -->
		<div id="loader-container">
			<div class="loader">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<!-- React mount element -->
		<div id="app"></div>
	</body>
</html>
