@import './vars.scss';

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:
	local('Material Icons'),
	local('MaterialIcons-Regular');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('/assets/fonts/Lato-Regular.eot') /* IE9 Compat Modes */;
	src:
	local('Lato'),
	local('Lato-Regular'),
	url('/assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */,
	url('/assets/fonts/Lato-Regular.woff2') format('woff2') /* Super Modern Browsers */,
	url('/assets/fonts/Lato-Regular.woff') format('woff') /* Modern Browsers */,
	url('/assets/fonts/Lato-Regular.ttf') format('truetype') /* Safari, Android, iOS */,
	url('/assets/fonts/Lato-Regular.svg#Lato') format('svg') /* Legacy iOS */;
}

:root {
	--themeColor: $theme-primary-color;
	--themeColorDarkest: darken($theme-primary-color, 50%);
	--themeColorDarker: darken($theme-primary-color, 25%);
	--themeColorDark: darken($theme-primary-color, 5%);
	--themeColorMedium: lighten($theme-primary-color, 15%);
	--themeColorLight: lighten($theme-primary-color, 25%);
	--themeColorLighter: lighten($theme-primary-color, 45%);
	--themeColorLightest: lighten($theme-primary-color, 65%);
}

::-webkit-scrollbar-track {
	background-color: var(--themeColorLightest);
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-thumb {
	background-color: var(--themeColorLighter);
}

html,
body,
[data-reactroot] {
	overflow: hidden;
	min-height: 100vh;
	font-family: Lato;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.spacer {
	flex-grow: 1;
}

#app {
	height: 100vh;

	.viewport {
		height: inherit;

		>div {
			height: inherit;
		}
	}
}

.hidden {
	display: none;
}

.padded {
	@extend %padded;
}

.borderless {
	border: 0;
}

.font-bold { font-weight: bold; }
.font-xsmall { font-size: 10px; }
.font-small { font-size: 12px; }
.font-medium { font-size: 14px; }
.font-large { font-size: 16px; }
.font-xlarge { font-size: 20px; }

.fade-enter {
	opacity: 0.01;

	&.fade-enter-active {
		opacity: 1;
		transition: opacity 500ms ease-in;
	}
}

.fade-leave {
	opacity: 1;

	.fade-leave-active {
		opacity: 0.01;
		transition: opacity 300ms ease-in;
	}
}

[disabled] {
	input,
	textarea,
	select,
	button {
		cursor: not-allowed;
	}
}

fieldset {
	border: 0;
}

select:not([size]) {
	appearance: none;
	padding-right: 24px;
	border-radius: 0;
	border-color: #ddd;
	background-image: url("https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-2/16/5001-128.png");
	background-position: 99% center;
	background-size: 12px;
	background-repeat: no-repeat !important;

	&:not(:disabled) {
		background-color: #fff !important;
	}
}

@keyframes rotator {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke: #4285f4; }
	25% { stroke: #de3e35; }
	50% { stroke: #f7c223; }
	75% { stroke: #1b9a59; }
	100% { stroke: #4285f4; }
}

.loader-circle-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px;

	.loader-circle {
		animation: rotator $duration linear infinite;

		.path {
			stroke-dasharray: $offset;
			stroke-dashoffset: 0;
			transform-origin: center;
			animation:
			dash $duration ease-in-out infinite,
			colors ($duration*4) ease-in-out infinite;
		}
	}
}
