$font-family: 'Lato', sans-serif;

// COLORS
$white: #fff;
$gray: #dbe2e8;
$light-gray: #ccc;
$lighter-gray: #f5f5f5;

$theme-primary-color: #094a8c;
$theme-secondary-color: #02c1de;
$theme-tertiary-color: gold;
$green:#00b5ad;

// UI
$sidebar-width-collapsed: 64px;
$sidebar-width-expanded: $sidebar-width-collapsed * 3;
$topbar-height: 2.5rem;

//Spinner
$offset: 187;
$duration: 1.4s;

// MEASURES
$default-padding: 10px;
$default-content-padding: 1.5em;

$sliding-bar-width: 250px;
$sliding-trigger-width: 25px;

%padded {
	padding: $default-content-padding;
}

%def_padding {
	padding: $default_padding;
}

%scrollable {
	overflow-y: auto;
	overflow-x: hidden;
}

%error {
	color: red;
	font-size: 12px;
	margin-top: 0.25em;
}

%resize-page {
	.main {
		>.page {
			width: calc(100% - #{$sidebar-width-collapsed});
		}
	}
}
